.about {
    margin: 0;
    padding: 119px 0 173px;
    display: flex;
    justify-content: space-between;

}

.about__title {
    max-width: 251px;
    margin: 0;
}

.about__content {
    display: flex;
    flex-direction: column;
    
    

}

.about__paragraph {

}

.about__circle {
    
}