.about {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__title {
    max-width: 251px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.about__content {
    margin: 119px 80px 173px 0;

}

.about__paragraph {

}

.about__circle {
    
}