.about {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.about__title {
    max-width: 251px;
    margin: 0;
    padding: 0;
}

.about__content {
    display: flex;
    flex-direction: column;
    
    
    

}

.about__paragraph {
    max-width: 660px;
    gap: 20px;

}

.about__circle {
    
}