.footer {
    background-color: #0A2850;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.footer__content{
    margin: 0;
    padding: 60px 80px 108px;
    display: flex;
    flex-direction: row;
    


}

.footer__logo {
    width: 105px;
    height: 39px;

}

.footer__social-heading {

}

.footer__list {
    list-style: none;
}

.footer__list-item {

}

.footer__social-icon {

}

.footer__social-link {

}

.footer__copyright {

}