@import url("blocks");



.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    margin: 0;
    gap: 20px;
    list-style-type: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}

.nav__link {
    color: #000;
    text-decoration: none;
}



.recipes {
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px 215px;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.recipes__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFF;
    max-width: 580px;
    top: 100px;
    margin: 0;
}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-top: 24px;
    max-width: 438px;
    
}

.recipes__subtitle-accent {
    display: block;

}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 80px;
    
}

.recipes__iframe {
    width: 480px;
    height: 273px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.reservation {
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 120px;
 
}

.reservation__form {
    margin: 0 auto; 
}

.reservation__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    margin: 0 0 80px;
   
}

.form {
    max-width: 385px ;
}

.form__fieldset {
    border: none; 
    padding: 0;
    margin: 0; 
   
}

.form__label {
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}

.form__label_type_checkbox {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__input {
    display: block; 
    width: 100%;
    padding: 0; 
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
   
}

.form__input[type="text"],
.form__input[type="number"],
.form__input[type="email"],
.form__input[type="datetime-local"] {
    min-height: 60px;
}



.form__input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;

    
}

.form__button {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    border: none;
    margin-bottom: 32px;
    border-radius: 4px;
    height: 60px;
    background-color: #2f80ed;
    color: #fff;

}

.form__button:hover {
    opacity: 30%;
}

.form__checkbox {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}
